[submodule "third_party/evmone"]
	path = third_party/evmone
	url = https://github.com/ethereum/evmone.git
[submodule "third_party/evmc"]
	path = third_party/evmc
	url = git@github.com:HerbertJordan/evmc.git
