build --cxxopt=-std=c++20
build --cxxopt=-O3
build --cxxopt=-DNDEBUG
build --cxxopt=-march=native
build --cxxopt=-mtune=native
build --cxxopt=-Wall
build --cxxopt=-Wextra
build --cxxopt=-Wpedantic
build --cxxopt=-Wtype-limits
build --cxxopt=-Wconversion
build --cxxopt=-Wsign-conversion
build --cxxopt=-Wdouble-promotion
build --cxxopt=-Wno-missing-field-initializers
build --cxxopt=-g

build --features=external_include_paths

# A configuration running all code using an address sanitizer
# To run, add --config=asan to bazel command.
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
